<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>home</title>
</head>
<body>
<h1>메인 페이지</h1>
<div sec:authorize="isAuthenticated()">
    <h2  th:text="${#authentication.name} + '님 안녕하세요!'">hello</h2>
    <button type="button" onClick="location.href='myPage/main'">MyPage</button>
    <button type="button" onClick="location.href='/members/logout'">로그아웃</button>
</div>
<div sec:authorize="isAnonymous()">
    <button type="button" onClick="location.href='/members/new'">회원가입</button>
    <button type="button" onClick="location.href='/members/login'">로그인</button>
</div>


</body>
</html>