<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>home</title>
</head>
<body>
<button type="button" onClick="location.href='/members/new'" sec:authorize="isAnonymous()">회원가입</button>
<button type="button" onClick="location.href='/members/login'" sec:authorize="isAnonymous()">로그인</button>
<button type="button" onClick="location.href='/members/myPage'" sec:authorize="isAuthenticated()">MyPage</button>
<button type="button" onClick="location.href='/members/myPage'" sec:authorize="isAuthenticated()">로그아웃</button>
</body>
</html>